<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lottozahlen-Generator</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block"
              color="success"
              (click)="onLottozahlenErzeugen()">Lottozahlen erzeugen</ion-button>

  &nbsp;

  <ion-grid>
    <ion-row *ngFor="let nummerZeile of nullBisSechs">
        <ion-col *ngFor="let nummerSpalte of nullBisSechs"
                 [style.background]="hintergrundFarbeArray[nummerZeile*7 + nummerSpalte + 1]">{{nummerZeile*7 + nummerSpalte + 1}}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
