<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Lottozahlen-Generator</ion-title>          
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-button expand="block"
              color="success"
              (click)="onLottozahlenErzeugen()">Lottozahlen erzeugen</ion-button>

  &nbsp;

  <ion-list>
    <ion-item>
      <ion-label position="floating">Lottozahlen</ion-label>
      <ion-textarea rows="5" [(ngModel)]="lottozahlenText" readonly></ion-textarea>
    </ion-item>
  </ion-list>  

</ion-content>
